.guide-body{
  position: relative;
  width:100vw; 
  height:69.1vw; 
  margin-bottom: 5px;
}

.guide-list { 
  display:table; 
  width:100vw; 
  height:69.1vw; 
  overflow:hidden;
  position: absolute;
  top: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.25)
}
  .guide-item { 
    vertical-align:middle; 
    display:table-cell; 
    text-align:center;
  }
  .guide-text { 
    color:#fff; 
    display:none; 
    font-size: 4.7vw;
    z-index: 50;
  }
  .guide-text-show{
    display: inline-block;
    position:relative;
    left: 100%;
  }
  @keyframes myfirst{
    // 0％ {top: 69vw;}
    // 25% {top: 20vw;}
    // 50% {top: 10vw;}
    // 75% {top: -10vw;}
    // 100% {top: 0vw;}
    // from{left: 100%;}
    // to{left: 0;}
  }
.guide-img{
  width:100%;
  height: 100%;
  z-index: -1;
}